.mainContainer {
    display: grid;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    min-width: 320px;
    max-width: 50%;
    margin: 0 auto;
}

.containerCreate {
    grid-template-rows: 60px repeat(5, 100px);
}

.containerSelect {
    grid-template-rows: 60px repeat(3, 100px);
}

.mainContainer h1 {
    font-size: 1.2rem;
    font-weight: normal;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    user-select: none;
    margin: 0;
    border-bottom: 1px solid hsl(220, 2%, 50%);
}

.mainContainer h2 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.7;
    text-align: center;
}

.mainContainer code {
    font-size: 1.2rem;
    line-height: 1.7;
    text-align: center;
    word-break: break-word;
}

.mainContainer h3 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    user-select: none;
}

.input {
    background-color: hsla(0, 0%, 0%, 0.3);
    outline: none;
    border: none;
    width: calc(100% - 30px);
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 1rem;
}

.input:focus {
    border-bottom: 1px solid white;
}

.btn {
    background-color: hsl(220, 3%, 13%);
    width: 150px;
    color: white;
    padding: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}

.btn:hover {
    background-color: hsl(220, 3%, 35%);
}
