.mainContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        height: 50%;
        width: 100%;
    }
}

.btn {
    background-color: hsl(220, 3%, 13%);
    width: 250px;
    color: white;
    padding: 20px;
    margin: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 20px 3px hsla(0, 0%, 0%, 0.4);
}

.btn:hover {
    background-color: hsl(220, 3%, 35%);
}
